{% render 'pagefly-settings' %} <link rel="stylesheet" href="{{ 'pagefly.b38476e1.css' | asset_url }}">
		  <style></style>{% if product_8081914429743 == null %}{%- assign product_8081914429743 = all_products["my-diy-bbl"] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["8081914429743"] = {
		id: {{ product_8081914429743.id | json }},
		handle: {{ product_8081914429743.handle | json }},
		title: {{ product_8081914429743.title | json }},
		type: {{ product_8081914429743.type | json }},
		url: {{ product_8081914429743.url | within: collection | json }},
		vendor: {{ product_8081914429743.vendor | json }},
		variants: {{ product_8081914429743.variants | json }},
		options: {{ product_8081914429743.options | json }},
		media: {{ product_8081914429743.media | json }},
		has_only_default_variant: {{ product_8081914429743.has_only_default_variant | json }},
		options_with_values: {{ product_8081914429743.options_with_values | json }},
		selected_variant: {{ product_8081914429743.selected_variant | json }},
		selected_or_first_available_variant: {{ product_8081914429743.selected_or_first_available_variant | json }},
		tags: {{ product_8081914429743.tags | json }},
		template_suffix: {{ product_8081914429743.template_suffix | json }},
		featured_image: {{ product_8081914429743.featured_image | json }},
		featured_media: {{ product_8081914429743.featured_media | json }},
		images: {{ product_8081914429743.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_8081914429743.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | within: collection | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};{% endunless %}
	</script><div style="opacity:0" class="sc-AjmGg kONSRg __pf __pf_oZ465tgH" id="__pf"><div data-pf-type="Body" class="sc-dSfdvi hbFSvJ pf-1_"><div data-pf-type="Layout" class="sc-bUbRBg Gdkwx pf-2_"><div data-section-id="pf-d6c6" data-pf-type="Section" class="sc-jivBlf inQyRG pf-3_"><div style="--cw:1170px" class="sc-dkQkyq kCnPmW"><div class="sc-cNKqjZ PEdbg pf-4_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hZpJaK lYhcR pf-5_"><img src="https://cdn.shopify.com/s/files/1/0716/4382/4431/t/2/assets/circleprofpic-1674536020186_254x.png?v=1674536021" srcSet="https://cdn.shopify.com/s/files/1/0716/4382/4431/t/2/assets/circleprofpic-1674536020186.png?v=1674536021 1536w" width="1080" height="1080" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" style="aspect-ratio:1080 / 1080" data-pf-type="Image3" class="sc-hmjpVf jFnkub pf-6_"/><h1 data-pf-type="Heading" class="sc-gGCDDS giZcCL pf-7_"><span data-pf-type="Text" class="sc-gnnDb jPxwVa pf-9_">@xomvggie</span></h1></div></div></div><div class="sc-cNKqjZ PEdbg pf-10_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hZpJaK lYhcR pf-11_"><div class="sc-iNpzLj kycpOE pf-12_ pf-r pf-r-ew pf-c-ct pf-r-eh" style="--s-xs:15px;--ew-xs:1;--ew-sm:3" data-pf-type="ContentList"><div class="pf-c"><div data-pf-type="ContentListItem" class="sc-iyyVIK eeKDKJ rid-1"><div class="sc-cNKqjZ PEdbg rid-2 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hZpJaK lYhcR rid-3"><i class="sc-Galmp bSmgIP rid-8 pfa pfa-youtube" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-gGCDDS giZcCL rid-5"><a data-link="inherit" href="https://www.youtube.com/@xomvggie/" target="_self"><span data-pf-type="Text" class="sc-gnnDb jPxwVa pf-19_">youtube</span></a></h3></div></div></div></div></div><div class="pf-c"><div data-pf-type="ContentListItem" class="sc-iyyVIK eeKDKJ rid-1"><div class="sc-cNKqjZ PEdbg rid-2 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hZpJaK lYhcR rid-3"><i class="sc-Galmp bSmgIP rid-8 pfa pfa-instagram" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-gGCDDS giZcCL rid-5"><a data-link="inherit" href="https://www.instagram.com/xomvggie/" target="_blank"><span data-pf-type="Text" class="sc-gnnDb jPxwVa pf-26_">instagram</span></a></h3></div></div></div></div></div><div class="pf-c"><div data-pf-type="ContentListItem" class="sc-iyyVIK eeKDKJ rid-1"><div class="sc-cNKqjZ PEdbg rid-2 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hZpJaK lYhcR rid-3"><i class="sc-Galmp bSmgIP rid-8 pfa pfa-tumblr" data-pf-type="Icon"></i><h3 data-pf-type="Heading" class="sc-gGCDDS giZcCL rid-5"><a data-link="inherit" href="https://www.tiktok.com/@xomvggie" target="_blank"><span data-pf-type="Text" class="sc-gnnDb jPxwVa pf-33_">tiktok</span></a></h3></div></div></div></div></div></div></div></div></div></div></div><div data-section-id="pf-040d" data-pf-type="Section" class="sc-jivBlf inQyRG pf-86_"><div style="--cw:1170px" class="sc-dkQkyq kCnPmW"><div class="sc-cNKqjZ PEdbg pf-85_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hZpJaK lYhcR pf-84_"><img src="https://cdn.shopify.com/s/files/1/0716/4382/4431/t/2/assets/promobanner2-1674534432013_337x.png?v=1674534433" srcSet="https://cdn.shopify.com/s/files/1/0716/4382/4431/t/2/assets/promobanner2-1674534432013.png?v=1674534433 1536w" width="1200" height="300" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" data-action="url" data-href="https://www.xoxomaggie.com/pages/my-diy-bbl" data-target="_self" style="aspect-ratio:1200 / 300" data-pf-type="Image3" class="sc-hmjpVf jFnkub pf-83_"/></div></div></div></div></div><div data-section-id="pf-ba31" data-pf-type="Section" class="sc-jivBlf inQyRG pf-82_"><div style="--cw:1170px" class="sc-dkQkyq kCnPmW"><div class="sc-cNKqjZ PEdbg pf-81_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hZpJaK lYhcR pf-90_"><a href="https://www.xoxomaggie.com/pages/my-diy-bbl" target="_self" data-pf-type="Button" class="sc-llYSUQ kDdaXh pf-89_ pf-gs-button-4"><span data-pf-type="Text" class="sc-gnnDb jPxwVa pf-88_">View 'My DIY BBL'&nbsp;</span></a></div></div></div></div></div><div data-section-id="pf-db70" data-pf-type="Section" class="sc-jivBlf inQyRG pf-67_"><div style="--cw:1170px" class="sc-dkQkyq kCnPmW"><div class="sc-cNKqjZ PEdbg pf-68_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hZpJaK lYhcR pf-69_"><h1 data-pf-type="Heading" class="sc-gGCDDS giZcCL pf-70_"><span data-pf-type="Text" class="sc-gnnDb jPxwVa pf-72_">Maggie's Latest YouTube Video</span></h1></div></div></div></div></div><div data-section-id="pf-a425" data-pf-type="Section" class="sc-jivBlf inQyRG pf-73_"><div style="--cw:1170px" class="sc-dkQkyq kCnPmW"><div class="sc-cNKqjZ PEdbg pf-74_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hZpJaK lYhcR pf-75_"><div data-pf-type="Youtube" class="sc-gHjyzD txAIu pf-76_"><div style="position:relative;padding-bottom:56.25%"><iframe class="pf-ifr" src="https://www.youtube.com/embed/CJVRmqMbyms?start=0&autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" allowfullscreen="" width="560" height="315" allow="autoplay" title="yt-video" loading="lazy"></iframe></div></div></div></div></div></div></div></div></div></div><script>
    !function(){window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.27.6","shopDomain":"xomvggie.myshopify.com","elementData":{},"pageTitle":"Home","pageType":"home","pageId":"b38476e1-978d-4f3e-a785-56325cc8e1ab","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{"Lato":{"400":1}},"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/3.27.6/core/helper.js" async></script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://apps.pagefly.io/editor?id=b38476e1-978d-4f3e-a785-56325cc8e1ab)."
    }
  ]
}
{% endschema %}